In [1]:
import pandas as pd

In [2]:
db_netflix = pd.read_csv('netflix_daily_top_10.csv')

In [3]:
df_netflix = pd.DataFrame.from_dict(db_netflix)

In [4]:
# Tipos de dados disponíveis
db_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7100 entries, 0 to 7099
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As of                 7100 non-null   object
 1   Rank                  7100 non-null   int64
 2   Year to Date Rank     7100 non-null   object
 3   Last Week Rank        7100 non-null   object
 4   Title                 7100 non-null   object
 5   Type                  7100 non-null   object
 6   Netflix Exclusive     4599 non-null   object
 7   Netflix Release Date  7100 non-null   object
 8   Days In Top 10        7100 non-null   int64
 9   Viewership Score      7100 non-null   int64
dtypes: int64(3), object(7)
memory usage: 554.8+ KB

In [6]:
db_netflix.head(5)

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2020-04-01,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
1,2020-04-01,2,2,-,Ozark,TV Show,Yes,"Jul 21, 2017",5,45
2,2020-04-01,3,3,2,All American,TV Show,NaN,"Mar 28, 2019",9,76
3,2020-04-01,4,4,-,Blood Father,Movie,NaN,"Mar 26, 2020",5,30
4,2020-04-01,5,5,4,The Platform,Movie,Yes,"Mar 20, 2020",9,55

In [7]:
df_netflix['As of'] = pd.to_datetime(df_netflix['As of'], errors='coerce')

In [9]:
# Período da análise feita
start_date = df_netflix['As of'].min()
end_date = df_netflix['As of'].max()

In [10]:
start_date

Timestamp('2020-04-01 00:00:00')

In [11]:
end_date

Timestamp('2022-03-11 00:00:00')

In [13]:
# Tamanho da base de dados
df_netflix.shape

(7100, 10)

In [14]:
# Verificar dados nulos
null_data = df_netflix.isnull().sum()

In [15]:
null_data

As of                      0
Rank                       0
Year to Date Rank          0
Last Week Rank             0
Title                      0
Type                       0
Netflix Exclusive       2501
Netflix Release Date       0
Days In Top 10             0
Viewership Score           0
dtype: int64

In [18]:
# Outliers
q1 = df_netflix['Viewership Score'].quantile(0.25)
q3 = df_netflix['Viewership Score'].quantile(0.75) 
IQR = q3 - q1

In [19]:
outliers = df_netflix[(df_netflix['Viewership Score'] < (q1 - 1.5 * IQR)) | (df_netflix['Viewership Score'] > (q3 + 1.5 * IQR))]

In [20]:
outliers

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
236,2020-04-24,7,7,2,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",32,292
247,2020-04-25,8,7,2,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",33,295
255,2020-04-26,6,8,3,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",34,300
269,2020-04-27,10,6,4,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",35,301
2382,2020-11-25,3,2,3,The Queenâs Gambit,TV Show,Yes,"Oct 23, 2020",33,296
...,...,...,...,...,...,...,...,...,...,...
7008,2022-03-02,9,6,3,Sweet Magnolias,TV Show,Yes,"May 19, 2020",45,344
7063,2022-03-08,4,4,4,Love is Blind,TV Show,Yes,"Feb 13, 2020",43,295
7074,2022-03-09,5,4,5,Love is Blind,TV Show,Yes,"Feb 13, 2020",44,301
7085,2022-03-10,6,5,5,Love is Blind,TV Show,Yes,"Feb 13, 2020",45,306
7094,2022-03-11,5,6,6,Love is Blind,TV Show,Yes,"Feb 13, 2020",46,312